header {
    background-color:#B0BF1A;
    color: black;
    text-align: center;
    font-size: 25px;
    margin: 0%;
    padding: 0%;

}
body{
    background-color:#B0BF1A;
    font-family: Georgia, serif;
    margin: 0;
    padding: 20px;
}
footer{
    background-color: mediumseagreen; 
    color: black;
    text-align: center;
    padding: 7px;
    position: center;
}

li.item {
    background-color: rgb(221, 245, 184);
    border: 3px solid #000000;
    margin: 5px 0;
    padding: 5px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;

}

textarea[name ="user-input"]{
    
    margin: 10px auto;
    padding: 30px;
    width: 30%;
    height: 50px;
    border:1px solid rgb(15, 79, 52);
    margin-left: auto;
    display: block;
    margin-right: auto;
    font-size: 18px;
       
}
button#reset-button{
    background-color: rgb(114, 212, 33);
    color: black;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 18px;
    display: block;
    margin: 1% auto;
    font-size: 15px;
    
}

