header {
    background-color: rgb(5, 196, 196);
    color: black;
    text-align: center;
    margin: 0%;
    padding: 0%;
    

}
footer{
    background-color: mediumseagreen; 
    color: black;
    text-align: center;
    padding: 7px;
    position: center;
}

li.item {
    background-color: rgb(221, 245, 184);
    border: 2px solid black;
    margin: 5px 0;
    padding: 5px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;

}

textarea[name ="user-input"]{
    
    margin: 10px auto;
    padding: 30px;
    width: 30%;
    border:1px solid rgb(15, 79, 52);
    margin-left: auto;
    display: block;
    margin-right: auto;
       
}
button#reset-button{
    background-color: rgb(114, 212, 33);
    color: black;
    border: none;
    padding: 20px 60px;
    cursor: pointer;
    border-radius: 10px;
    display: block;
    margin: 1% auto;
    
}

