header {
 
    color: black;
    text-align: center;
    font-size: 22px;
    margin: 0%;
    padding: 0%;

}
body{
    background-color: #A5DD9B;
    font-family: Georgia, serif;
    margin: 0;
    padding: 20px;
}
footer{

    color: rgb(0, 0, 0);
    text-align: center;
    padding: 7px;
    position: relative;
    top: 20px;
}

.item {
    
    list-style-type: none;
    background-color: #F6F193;
    border-radius: 25px;
    border:1px solid rgb(17, 17, 17);
    margin: 10px 0;
    padding: 7px;   
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    position: relative;
    float: left;
    left: 20px;
}

textarea[name="user-input"]{
    
    margin: 8px auto;
    padding: 30px;
    width: 30%;
    height: 100px;
    border:1px solid rgb(15, 79, 52);
    border-radius: 15px;
    margin-left: auto;
    display: block;
    margin-right: auto;
    font-size: 18px;
    background-color: #ffffff;
    position: relative;
    right: 10px;
    color: black;

       
}
#reset-button{
    background-color: #D37676;
    color: black;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 25px;
    display: block;
    margin: 1% auto;
    font-size: 20px;
    position: relative;
    top: 20px;
    
}


